* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	background: transparent;
	font-family: inherit;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}  

textarea {
	resize: none;
}

button,
textarea,
select {
	appearance: none !important;
	border-radius: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* RESET OVER */

/* COLORS

Red: #BC2F3A
Black: #252429

Green 0: #f7f9f6
Green 1: #EAEEE7
Green 2: #CFE0D0
Green 3: #BAC9B0
Green 4: #8FA08E
Green 5: #768376
Green 6: #474539
*/

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    /* background-color: #EAEEE7; */
}

section {
    width: 100%;
    height: 100vh;
}

section:nth-child(odd) {
    background-color: #CFE0D0;
}

section:nth-child(even) {
    background-color: #f7f9f6;
}

header {
    margin: 0 auto;
    max-width: 1200px;
}


/* FONTS */

h1, 
h2,
h3 {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

h1 {
    font-size: 58px;
    letter-spacing: 0.05em;
    color: #BAC9B0;
    padding-bottom: 20px;
}

h2 {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0.05em;
    color:#474539;
    padding-bottom: 20px;
}

h3 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #768376;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    letter-spacing: 0.04em;
}

.p-small {
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    color: #474539;
    text-align: center;
}


/* BUTTONS */

.small-button {
    width: 100px;
    height: 30px;
    background-color: #BC2F3A;
    font-size: 16px;
    text-align: center;
    color: #EAEEE7;
    border: 1px solid #EAEEE7;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.small-button:hover {
    background-color: #EAEEE7;
    color: #BC2F3A;
    border: 1px solid #BC2F3A;
}

.regular-button {
    /* width: 240px; */
    height: 40px;
    background-color: #252429;
    font-size: 16px;
    text-align: center;
    color: #EAEEE7;
    border: 2px solid #EAEEE7;
    border-radius: 8px;
    /* text-transform: uppercase; */
    font-weight: 200;
    letter-spacing: 0.07em;
    padding: 0 25px;
}

.regular-button:hover {
    background-color: #EAEEE7;
    color: #252429;
    border: 2px solid #252429;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.large-button {
    width: 240px;
    height: 50px;
    background-color: #252429;
    font-size: 20px;
    text-align: center;
    color: #EAEEE7;
    border: 2px solid #EAEEE7;
    border-radius: 4px;
    /* text-transform: uppercase; */
    font-weight: 200;
    letter-spacing: 0.08em;
    margin: 20px 0;
}

.large-button:hover {
    background-color: #EAEEE7;
    color: #252429;
    border: 2px solid #252429;
}

.payment-button {
    background-color: transparent;
    border: 1px solid #BAC9B0;
    border-radius: 3px;
    width: 100px;
    margin: 10px;
}

/* HEADER */

header {
    display: inline;
    z-index: 99;
    max-height: 50px;
    font-size: 16px;
    line-height: 50px;
    color: #EAEEE7;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

header nav {
    position: relative;
    max-width: 1200px;
    background: #252429;
    margin: 0 auto;
}

header nav a {
    padding: 0 20px;
}

header p {
    position: absolute;
    left: 24px;
    font-size: 24px;
    line-height: 50px;
    width: 30%;
    color: #EAEEE7;
}

header article {
    display: inline;
    position: absolute;
    right: 24px;
    max-width: 600px;
}

header .navigation-menu {
    position: absolute;
    display: inline-block;
    right: 0px;
    width: 70%;
}

article.navigation-menu:last-child {
    margin-right: 130px;
}

/* Main */

main {
    margin: 0 auto;
}

/* Welcome */

#welcome {
    max-height: 100vh;
    background-color: transparent;
}

#welcome img {
    position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	object-fit: cover;
}

#welcome article {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    text-align: center;
}

#welcome p {
    color: #EAEEE7;
}

/* About section */

#about {
    position: relative;
    width: 100%;
}

#about article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    margin: 0 auto;
    max-height: 80%;
}

#about h2 {
    text-align: center;
}

#about p {
    color: #252429;
}

/* Support */

#support {
    position: relative;
    width: 100%;
}

#support article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#support h3 {
    padding: 50px 0 10px 0;
}

#support article .p-small {
    padding-bottom: 20px;
}

#support article div {
    text-align: center;
}

#support button .payment-button {
    display: inline-block;
}

#support button img {
    height: 20px;
    margin: 10px 0;
}

#support button.regular-button {
    margin-top: 20px;
}

/* Contact */

#contact {
    /* position: relative; */
}

#contact article {
    height: 100vh;
}

#contact .form-wrapper {
    position: relative;
    height: 60vh;
    margin: 0 auto;
    width: 600px;
}

#contact .map-wrapper {
    height: 40vh;
    margin: o auto;
    width: 100%;
}

#contact .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#contact form label {
    text-align: left;
    font-size: 14px;
    line-height: 28px;
    color: #474539;
    margin-left: 10px;
}

#contact form input {
    background-color: #EAEEE7;
    border: 1px solid #768376;
    border-radius: 3px;
    height: 40px;
    width: 400px;
    padding-left: 15px;
    color: #474539;
    text-align: left;
}

#contact form textarea {
    background-color: #EAEEE7;
    border: 1px solid #768376;
    border-radius: 3px;
    height: 150px;
    width: 400px;
    padding-left: 15px;
    line-height: 24px;
    color: #474539;
    text-align: left;
}

#contact .form-wrapper .textalign-right {
   text-align: right;
}

/* Google maps */

#contact iframe {
    height: 40vh;
    width: 100%;
}

#contact .gmap_canvas {
    overflow: hidden;
    background: none!important;
}

#contact .gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 40vh;
    width: 100vw;
}

